Service:
  RegionId: cn-hangzhou
  DeployType: ros
  DeployMetadata:
    ServiceInstanceNameRule:
      Prefix: dify
    SupplierDeployMetadata:
      ArtifactRelation:
        centos_7_9_x64_20G_alibase_20240403.vhd:
          ArtifactId: ${Artifact.EcsImage.ArtifactId}
          ArtifactVersion: ${Artifact.EcsImage.ArtifactVersion}
    TemplateConfigs:
    - Name: 单机版
      Url: ros_templates/template.yaml
  ServiceType: private
  ServiceInfo:
    Locale: zh-CN
    ShortDescription: dify deploy
    Image: resources/icons/service_logo.png
    Softwares:
    - Name: dify
      Version: v1.10.1-fix.1
Artifact:
  EcsImage:
    ArtifactType: EcsImage
    ArtifactName: dify
    Description: dify
    ArtifactProperty:
      RegionId: ${ImageBuilder.EcsImage.RegionId}
      ImageId: ${ImageBuilder.EcsImage.SourceImageId}
ImageBuilder:
  EcsImage:
    RegionId: ap-southeast-1
    SourceImageId: aliyun_3_x64_20G_alibase_20240819.vhd
    SystemDiskSize: 20
    InstanceType: ecs.c6.large
    InternetMaxBandwidthOut: 10
    CommandType: RunShellScript
    Timeout: 10800
    Tags: []
    CommandContent: "#!/bin/bash\n# 升级基础组件：\nyum check-update\nyum -y upgrade --security\n\
      yum -y upgrade-minimal\n\n# 安装docker-ce\nyum-config-manager --add-repo http://mirrors.aliyun.com/docker-ce/linux/centos/docker-ce.repo\n\
      yum makecache\nyum install -y curl git docker-ce\nmkdir -p /etc/docker/\necho\
      \ '{\n    \"default-address-pools\": [\n        {\n            \"base\": \"\
      10.255.0.0/16\",\n            \"size\": 24\n        }\n    ]\n}' > /etc/docker/daemon.json\n\
      \nprefixChinaRegion=\"cn-\"\nregion=$(curl -s http://100.100.100.200/latest/meta-data/region-id)\n\
      \nif [[ ${region} == ${prefixChinaRegion}* && ${region} != \"cn-hongkong\" ]];\
      \ then\n  echo '{\n      \"default-address-pools\": [\n          {\n       \
      \       \"base\": \"10.255.0.0/16\",\n              \"size\": 24\n         \
      \ }\n      ],\n      \"registry-mirrors\": [\n          \"https://mirrors-ssl.aliyuncs.com/\"\
      \n      ]\n  }' > /etc/docker/daemon.json\nfi\n\nsudo systemctl enable --now\
      \ docker.socket\nsudo systemctl enable --now docker.service\n\nmkdir -p /usr/local/applications/\
      \ && cd /usr/local/applications/\ngit clone https://github.com/langgenius/dify.git\n\
      cp dify/docker/.env.example dify/docker/.env\ncd dify/docker\ndocker compose\
      \ up -d\nsleep 300\n\nCONTAINER_ID=$(docker ps --filter \"name=ollama\" --format\
      \ \"{{.ID}}\")\ndocker exec -i \"$CONTAINER_ID\" /bin/bash -c \"\n  ollama pull\
      \ deepseek-r1:1.5b;\n  ollama pull llama3.2:1b;\n  ollama pull llama3.2:3b;\n\
      \  ollama pull nomic-embed-text:latest;\n  exit;\n\"\n\n# 安装云监控Agent\nARGUS_VERSION=3.5.7\
      \ /bin/bash -c \"$(curl -sS https://cms-agent-ap-southeast-1.oss-ap-southeast-1-internal.aliyuncs.com/Argus/agent_install_ecs-1.7.sh)\"\
      \ 2>&1\n\n###################################################\n#  1. 清理制作镜像过程中产生的日志，避免敏感信息泄漏。\
      \    #\n#    - 系统日志                                    #\n#    - 应用日志      \
      \                              #\n#  2. 清理制作镜像过程中命令行历史                    #\n\
      #  3. 删除所有账户默认密码，删除所有用户目录下的ssh配置  #\n#  4. 清理缓存                            \
      \         #\n###################################################\n\nfunction\
      \ disable_services(){\n  # 关闭基础镜像非必要服务，降低基础服务资源占用\n  # 关闭防火墙\n  systemctl disable\
      \ firewalld\n  systemctl stop firewalld\n  # 关闭update-motd 服务\n  systemctl disable\
      \ update-motd.service\n  systemctl stop update-motd.service\n  systemctl stop\
      \ systemd-resolved.service\n  systemctl disable systemd-resolved.service\n \
      \ systemctl stop rpcbind.socket\n  systemctl stop rpcbind.service\n  systemctl\
      \ disable rpcbind.service\n  systemctl disable rpcbind.socket\n}\n\nfunction\
      \ clean_log(){\n    #rm -fv /usr/local/aegis/aegis_update/data/data.[0-9]\n\
      \    #rm -fv /usr/local/aegis/aegis_client/aegis_*/data/data.[0-9]\n\n    #rm\
      \ -fv /usr/local/aegis/globalcfg/domaincfg.ini\n    #rm -fv /opt/aegis/globalcfg/domaincfg.ini\n\
      \n    rm -rf /var/log/anaconda/*\n    rm -rf /var/log/ecsgo.log*\n    rm -rf\
      \ /var/log/cron-*\n    rm -rf /var/log/btmp-*\n    rm -rf /var/log/maillog-*\n\
      \    rm -rf /var/log/messages-*\n    rm -rf /var/log/secure-*\n    rm -rf /var/log/spooler-*\n\
      \    rm -rf /var/log/yum.log-*\n    rm -rf /var/log/boot.log-*\n    rm -rf /var/log/anaconda/*\n\
      \    rm -rf /var/log/sa/*\n    rm -rf /var/log/conman*\n    rm -rf /var/log/journal/*\n\
      \    rm -rf /var/log/cloud-init.log\n    rm -rf /var/log/cloud-init-output.log\n\
      \n    for i in $(find /var/log/ -type f); do > $i; done\n\n    rm -rfv /var/lib/apt/lists/*\n\
      \    rm -rfv /var/lib/yum/history/*\n    rm -rfv /var/lib/dnf/history*\n   \
      \ rm -rfv /var/lib/dhclient/*\n    rm -rfv /var/lib/dhcp/*\n    rm -rfv /var/lib/aliyun_init/*\n\
      \    rm -rfv /var/lib/cloud/*\n\n    if [ -d /usr/local/share/aliyun-assist/*/log/\
      \ ];then\n        rm -rfv  /usr/local/share/aliyun-assist/*/log/*\n    fi\n\n\
      \    rm -rfv /etc/ssh/sshd_config.d/*\n\n    rm -rf /tmp/*\n    rm -f /root/{.bash_history,.viminfo,*.cfg,*.log*}\n\
      \    rm -rf /root/script\n\n    sed -i \"/iZ*Z/d\" /etc/hosts\n    sed -i \"\
      /AliYun/d\" /etc/hosts\n    sed -i \"/Aliyun/d\" /etc/hosts\n    sed -i \"/debug/d\"\
      \ /etc/hosts\n\n    # Clean up useless nameservers to prevent cloudinit local\
      \ domain name resolution timeout\n    # sed -i \"/nameserver/d\" $(realpath\
      \ /etc/resolv.conf)\n\n    # [ -d /etc/NetworkManager/system-connections ] &&\
      \ rm -fv /etc/NetworkManager/system-connections/*.nmconnection\n\n    # if [[\
      \ ! -L /etc/udev/rules.d/70-persistent-net.rules ]];then\n    #    rm -rfv /etc/udev/rules.d/70-persistent-net.rules\n\
      \    # fi\n\n    sync\n    sync\n    sync\n}\n\nfunction clean_source_cache(){\n\
      \    if [ `which zypper` ]; then\n        zypper clean; rm -fv /etc/zypp/repos.d/CUSTOM*\n\
      \    elif [ `which apt-get` ]; then\n        apt-get -q clean; apt-get -q autoclean;\
      \ apt-get -q -y autoremove;\n    elif [ `which yum` ]; then\n        yum clean\
      \ all;\n    elif [ `which dnf` ]; then\n        dnf clean all;\n    elif [ `which\
      \ pkg` ]; then\n        pkg autoremove\n    fi\n}\n\nfunction reset_sshd_cfg()\
      \ {\n    sed -i '/PasswordAuthentication/d' /etc/ssh/sshd_config\n    echo 'PasswordAuthentication\
      \ no' >> /etc/ssh/sshd_config\n    rm -f /etc/ssh/ssh_host_*\n}\n\nfunction\
      \ clean_user_auth(){\n    passwd -l root\n    sed -i -e 's/root:[^:]*:/root:*:/g'\
      \ /etc/shadow\n    rm -f /root/.ssh/*\n}\n\nfunction clean_cmd_history(){\n\
      \    for user in $(cut -f1 -d: /etc/passwd); do\n        if [ -f /home/$user/.bash_history\
      \ ]; then\n            > /home/$user/.bash_history\n        fi\n    done\n \
      \   > /root/.bash_history\n}\n\ndisable_services\nclean_source_cache\nclean_log\n\
      reset_sshd_cfg\nclean_user_auth\nclean_cmd_history\nrm -- \"$0\""
